* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1rem;
  background-color: #1a1a1a;
  color: white;
}

hr {
  border-top: 1px solid #1a1a1a;
  width: 80%;
  margin: .5rem auto;
}

hr.full {
  width: 100%;
}

.config {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25%;
}

.template {
  width: 70%;
}

.config h1,
.config h3,
.config h5 {
  margin: 0;
  text-transform: uppercase;
}

.config h5 {
  margin-bottom: .25rem;
}

.config button {
  padding: .5rem 1rem;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
}

.config .control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .25rem;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  height: 297mm;
  width: 210mm;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
}

.primary {
  color: #1a1a1a;
}

.secondary {
  color: #666666;
}

.page .title, 
.page .subtitle,
.page p {
  margin: 0;
}

.header .title {
  font-size: 2rem;
}

.header .subtitle {
  font-size: 1rem;
}

.page .header {
  order: -1;
}

.page .header-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.page .header-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page .header-vertical div {
  margin-bottom: .5rem;
}

.page .header-vertical p {
  display: inline-block;
  padding: 0 .25rem;
}

.page .contacts {
  text-align: right;
}

.page .heading {
  margin-top: .5rem;
  margin-bottom: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

.section {
  display: none;
}